<app-nav-bar></app-nav-bar>
<div id="head">
    <h1 class="text-white text-center">Welkom bij Prick Ads!</h1> <hr id="hr">
    <p class="text-center ondertitel">Welkom bij Prick Ads, wat leuk dat je je hebt geregistreerd. <br> Op deze site kun je jouw tweedehandsproducten verkopen aan andere gebruikers! <br> Lees eerst wel even onze huisregels door ;) <br> Waar wacht je nog op? </p>
    <div class="col text-center"><button class="btn btn-primary" routerLink="/login">Let's get started!</button></div>
</div>
<div class="flex-container">
    <div >
        <h3>Wat is Prick Ads</h3>
        <p>PeopleGram is een online webapplicatie waar gebruikers elkaars post kunnen bekijken. 
            Ieder gebruiker kan dus een post doen. Een heel algemene applicatie dus, vandaar PeopleGram</p>
    </div>
    <div>
        <h3>Waarom Prick Ads</h3>
        <p>PeopleGram is een online webapplicatie waar gebruikers elkaars post kunnen bekijken. 
            Ieder gebruiker kan dus een post doen. Een heel algemene applicatie dus, vandaar PeopleGram</p>
    </div>
    <div >
        <h3>Hoe gerbuik ik Prick Ads</h3>
        <p>PeopleGram is een online webapplicatie waar gebruikers elkaars post kunnen bekijken. 
            Ieder gebruiker kan dus een post doen. Een heel algemene applicatie dus, vandaar PeopleGram</p>
    </div>
</div>
<div class="information">
    <h2 class="text-center text-white mt-5">Some information...</h2>
</div>
<hr>
<div class="grid-containers mb-5">
    <div class="grid-item">
        <img class="images" src="assets/images/prikbord.jpg">
    </div>
    <div class="grid-item">
        <h3 class="text-center text-white titel">Hoe zijn wij begonnen?</h3> <br>
        <p class="text">Hier zie je hoe wij eigenlijk op het idee zijn gekomen om Prick Ads te bouwen. <br>
        Het begon allemaal bij het prick bord van het Albert Heijn <br> Wij als het Prick Ads team vonden dat te oud, <br> dus hebben we het besloten dit te moderniseren</p>
    </div>

    <div class="grid-item">
        <h3 class="text-center text-white titel">Hoe zijn wij vervolgens te werk gegaan?</h3> <br>
        <p class="text">Zo hebben wij vervolgens ons team samengesteld, <br> en hebben wij binnen 1 sprint van 8 dagen deze applicatie opgezet. <br> Dit is hoe onze applicatie is, neem een kijk!</p>
    </div>    
    <div class="grid-item">
        <img class="images2" src="assets/images/website.svg">
    </div>
</div>
