<div>
    <ul>
        <li class="logo"><a routerLink=""><img src="assets/images/logo.png"></a></li>
        <li><a routerLink="/home" routerLinkActive="activeMenu">Home</a></li>
        <li><a routerLink="/timeline" routerLinkActive="activeMenu">Timeline</a></li>
        <li><a routerLink="/add" routerLinkActive="activeMenu">Advertentie toevoegen</a></li>
        <li><a routerLink="/userads" routerLinkActive="activeMenu">Advertenties beheren</a></li>
        <li class="float-right"><button (click)="logout()"><a routerLinkActive="activeMenu"><span class="glyphicon glyphicon-log-out"></span></a></button> </li>
        <!-- <li class="float-right"><a routerLink="/opdracht2" routerLinkActive="activeMenu"><span class="glyphicon glyphicon-user"></span></a> </li> -->
    </ul>
</div>