<!-- <div>
  <ul>
      <li class="logo"><a routerLink=""><img src="assets/images/logo.png"></a></li>
      <li><a routerLink="/labs" routerLinkActive="activeMenu">Home</a></li>
      <li><a routerLink="/welcome" routerLinkActive="activeMenu">Server</a></li>
      <li><a routerLink="/add" routerLinkActive="activeMenu">Add Contact</a></li>
      <li><a routerLink="/list" routerLinkActive="activeMenu">Contact List</a></li>
      <li><a routerLink="/opdracht2" routerLinkActive="activeMenu">Result</a> </li>
  </ul>
</div> -->
<router-outlet></router-outlet> 